/ANDDataSet.class
/ConstantDataSet.class
/DataPoint.class
/DataSet.class
/DataTransformer.class
/DefinedDataSet.class
/Demo.class
/GraphNeuralNetwork.class
/GraphNeuralNetworkAnalyzer.class
/InputPerceptron.class
/IrisDataSet.class
/ManualTestController.class
/NeuralNetworkBuilder.class
/ORDataSet.class
/OutputPerceptron.class
/Perceptron.class
/SplitDataSet.class
/XORDataSet.class
/bin/
